<h1>This is the homepage</h1>
<ul>
 <li>Code: CS111</li>
 <li>Name: Intro to CS</li>
 <li>Description: About Computer Science</li>
</ul>

<ul>
 <li>Code: CS111</li>
 <li>Name: Intro to CS</li>
 <li>Description: About Computer Science</li>
</ul>